body {
	background-color: black;
	}
	
	#sidebar {
		padding: 10px;
		font-size: 16px;
	}

	#page-wrapper {
	background-color: gray;
	height: 100%;
	width: 100%;
	border-width: 0px;
	}
	
	#page {
	
	width: 100%;
	margin: 0 auto;
	display: flex;
	}
	
	#page > div {
	
	height: 1000px;
	border-left-style: solid;
	background-color: rgb(125,125,125);
	flex: 1;
	border-width: 3px;
	
	}
	
	#page #sidebar {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 7.5%;
	}
	
	#Accelerator-Projects,
    #Booster,
    #Controls,
    #Cryogenics,
    #External-Beamlines,
    #FAST,
    #Instrumentation,
    #Interlocks,
    #Linac,
    #Main-Injector,
    #Muon,
    #Operations,
    #PreAcc,
    #Proton-Improvement-Plan,
    #Recycler,
    #RF,
    #Run-Coordinator,
    #Safety,
    #Testing {
	overflow: scroll;
	height: 98%;
	}

	#Accelerator-Projects-Container,
    #Booster-Container,
    #Controls-Container,
    #Cryogenics-Container,
    #External-Beamlines-Container,
    #FAST-Container,
    #Instrumentation-Container,
    #Interlocks-Container,
    #Linac-Container,
    #Main-Injector-Container,
    #Muon-Container,
    #PreAcc-Container,
    #Proton-Improvement-Plan-Container,
    #Recycler-Container,
    #RF-Container,
    #Run-Coordinator-Container,
    #Safety-Container,
    #Testing-Container {
		display: none;
	}
	
	.entry {
	border-style: solid;
	border-width: 2px;
	  margin: 10px 10px;
	padding: 10px;
	background-color: rgb(175,175,175);
	color: black;
	}
	
	.entry .text{
	border-top-style: solid;
	border-left-style: solid;
	border-width: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: cornsilk;
	}
	
	.entry button{
	display: none;
	}
	
	.entry .comments {
	margin-left: 20px;
	}
	
	.comments .comment {
	padding: 5px;
	margin: 10px 0px;
	}
	
	.entry a {
	color: rgb(30,10,10);
	margin-left: 10px;
	}
	
	.entry span {
	font-weight: bold;
	}

	.entry figure {
	display: inline-table;
	}

	.entry figure figcaption { /* just a temporary measure....? */
		display: none;
	}

	.label {
		text-align: center;
		font-size: 32px;
		background-color: white;
		border-bottom-style: solid;
	}