body {
	background-color: black;
	}
	
	#page-wrapper {
	background-color: gray;
	height: 100%;
	border-width: 0px;
	}
	
	#page {
	
	width: 100%;
	margin: 0 auto;
	display: flex;
	}
	
	#page > div {
	
	height: 1000px;
	border-left-style: solid;
	background-color: rgb(125,125,125);
	flex: 1;
	border-width: 3px;
	
	}
	
	#page #sidebar {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 5%;
	}
	
	#page #content {
	overflow: scroll;
	}
	
	#divtwo {
	display: none;
	}
	
	.entry {
	border-style: solid;
	border-width: 2px;
	  margin: 10px 10px;
	padding: 10px;
	background-color: rgb(175,175,175);
	color: black;
	}
	
	.entry .text{
	border-top-style: solid;
	border-left-style: solid;
	border-width: 1px;
	padding-top: 5px;
	padding-left: 15px;
	}
	
	.entry button{
	display: none;
	}
	
	.entry .comments {
	margin-left: 20px;
	}
	
	.comments .comment {
	padding: 5px;
	margin: 10px 0px;
	}
	
	.entry a {
	color: rgb(30,10,10);
	margin-left: 10px;
	}
	
	.entry span {
	font-weight: bold;
	}